<div class="row justify-content-center">
    <ul class="paging">
        <p>1</p>
        <!--        {# <li class="page-item {% if numPage == 1 %} {{ "disabled" }} {% endif %}"> #}
                {# <a class="font-weight-bold paginationLink" href="{{ constant('local') }}adminManagement/adminListAllArticles/{{ numPage - 1 }}" class="page-link"><img class="chevronPaging" src="img/chevron.png"></a> #}
            </li>
        </div>
        <div class="col-md-2"> 
            {# {% for page in 1..pages %} #}
                {# <li class="page-item {% if numPage !=  page %} {{ "disabled" }} {% endif %}"> #}
                    {# <a class="font-weight-bold paginationLink" href="{{ constant('local') }}adminManagement/adminListAllArticles/{{ numPage }}" class="font-weight-bold link-page">{{ page }}</a> #}
                </li>
            {# {% endfor %} #}
        </div>
        <div class="col-md-3"> 
            {# <li class="page-item {% if numPage == pages %} {{ "disabled" }} {% endif %}"> #}
                {# <a class="font-weight-bold paginationLink" href="{{ constant('local') }}adminManagement/adminListAllArticles/{{ numPage + 1 }}" class="page-link"><img class="chevronPaging chevronRight" src="img/chevron.png"></a> #}
            </li>
        </div>  -->
    </ul>
</div>