{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <main>
        <div class="row justify-content-center pt-5">         
            <div class="col-10 col-md-4">
                <h1 class="mb-5 text-center">Saississez votre nouveau mot de passe</h1>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {{ form_start(formNewPassword) }}
                    <div class="form-group">
                        <label for="newPasswordUsername" class="labelForm" >Nom d'utilisateur</label>
                        {{ form_widget(formNewPassword.username) }}
                        {{ form_errors(formNewPassword.username) }}
                    </div>  
                    <div class="form-group">
                        <label for="newPassword" class="labelForm">Nouveau mot de passe</label>
                        {{ form_widget(formNewPassword.password) }}
                        {{ form_errors(formNewPassword.password) }}
                    </div>
                    <div class="form-group">
                        <label for="newPasswordConfirm" class="labelForm">Confirmer votre nouveau mot de passe</label>
                        {{ form_widget(formNewPassword.passwordConfirm) }}
                        {{ form_errors(formNewPassword.passwordConfirm) }}
                    </div>
                    <div class="form-group my-4 text-center">
                        <button type="submit" class="btnValidate">Modifier</button>
                    </div>
                    <input type="hidden" id="newPasswordToken" name="newPassword[_token]" value="{{ csrf_token('newPassword') }}" />
                {{ form_end(formNewPassword) }}       
            </div>
        </div>
    </main>
{% endblock %}