{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <main>
        <div class="row justify-content-center mt-5">         
            <div class="col-10 col-md-4">
                <h1 class="mb-5 text-center">Inscrivez-vous</h1>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {{ form_start(formUser) }}   
                    <div class="form-group">
                        <label for="registerUsername" class="labelForm" >Nom d'utilisateur</label><br />  
                        {{ form_widget(formUser.username) }}
                        {{ form_errors(formUser.username) }}
                    </div>
                    <div class="form-group">
                        <label for="registerEmail" class="labelForm" >Email</label><br />        
                        {{ form_widget(formUser.email) }}
                        {{ form_errors(formUser.email) }}
                    </div>     
                    <div class="form-group">
                        <label for="password" class="labelForm">Mot de passe</label><br />  
                        {{ form_widget(formUser.password) }}
                        {{ form_errors(formUser.password) }}
                    </div>
                    <div class="form-group">
                        <label for="passwordConfirm" class="labelForm">Confirmer votre mot de passe</label><br />
                        {{ form_widget(formUser.passwordConfirm) }}
                        {{ form_errors(formUser.passwordConfirm) }}
                    </div>
                    <div class="form-group my-4 text-center">
                        <button type="submit" class="btnValidate">Inscription</button>
                    </div>
                    <input type="hidden" id="registerToken" name="register[_token]" value="????????????" />
                {{ form_end(formUser) }}
            </div>
        </div>
    </main>
{% endblock %}
