{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Administration{% endblock %}

{% block body %}
    <main>
        <div class="container col-12 col-md-10 containerAdmin">
            <div class="row containerAdmin">
                {% include('/administration/navAdministration.html.twig') %}
                <div class="col-md-9">
                    <h3 class="my-3">Administration des figures</h3>

                    <div class="container col-12 pb-3 tableAdmin displayBlock">
                        <table class="col-12">
                            <thead>
                                <tr>
                                    <th class="column1 text-center">Titre</th>
                                    <th class="column2 text-center">Auteur</th>
                                    <th class="column3 text-center">Création</th>
                                    <th class="column4 text-center">Mise à jour</th>
                                    <th class="column5 text-center">Modifier</th>
                                    <th class="column6 columnEnd text-center">Supprimer</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for trick in tricks %}
                                    <tr>
                                        <td class="column1 text-center"><a class="nav-link font-weight-bold" href="{{ path('trick', {'id': trick.id}) }}">{{ trick.titletrick }}</a></td>
                                        <td class="column2 text-center">{{ trick.user.username }}</td>
                                        <td class="column3 text-center">{{ trick.dateCreateTrick | date('d-m-Y') }}</td>
                                        <td class="column4 text-center">{% if trick.dateCreateTrick != trick.dateUpdateTrick %} {{ trick.dateUpdateTrick | date('d-m-Y') }} {% else %} {{ "---" }} {% endif %}</td>
                                        <td class="column5 text-center"><a class="nav-link" href="{{ path('modifyTrick', {'id': trick.id}) }}"><img src="img/crayon.png"></a></td>
                                        <td class="column6 columnEnd text-center"><a class="nav-link" href="{{ path('deleteTrick', {'id': trick.id}) }}?admin=1"><img src="img/poubelle.png"></a></td>                                    
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% for trick in tricks %}
                        <div class="container col-12 col-md-10 mb-3 displayNone containerAdminMobile">
                            <div class="row justify-content-center">
                                <div class="container col-12 col-md-8 offset-md-2">
                                    <table class="panel">
                                        <tr class="trCompte">
                                            <td class="text-center">Titre:</td>
                                            <td class="text-center"><a class="nav-link  font-weight-bold" href="{{ path('trick', {'id': trick.id}) }}">{{ trick.titletrick }}</a></td>
                                        </tr>
                                        <tr class="trCompte">
                                            <td class="text-center">Auteur:</td>
                                            <td class="text-center">{{ trick.user.username }}</td>
                                        </tr>
                                        <tr class="trCompte">
                                            <td class="text-center">Création:</td>
                                            <td class="text-center">{{ trick.dateCreateTrick | date('d-m-Y') }}</td>
                                        </tr>
                                        <tr class="trCompte">
                                            <td class="text-center">Mise à jour:</td>
                                            <td class="text-center">{% if trick.dateCreateTrick != trick.dateUpdateTrick %} {{ trick.dateUpdateTrick | date('d-m-Y') }} {% else %} {{ "---" }} {% endif %}</td>
                                        </tr>
                                        <tr class="trCompte">
                                            <td class="text-center">Modifier:</td>
                                            <td class="text-center"><a class="nav-link" href="{{ path('modifyTrick', {'id': trick.id }) }}"><img src="img/crayon.png"></a></td>
                                        </tr>
                                        <tr class="trCompte">
                                            <td class="text-center">Supprimer:</td>
                                            <td class="text-center"><a class="nav-link" href="{{ path('deleteTrick', {'id': trick.id }) }}?admin=1"><img src="img/poubelle.png"></a></td>                                    
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div id="pagingAdminUsers" class="paging border-top">
                        {% include('/paging/paging.html.twig') %}
                    </div>  
                </div>
            </div>
        </div>
    </main>
{% endblock %}
