{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Administration{% endblock %}

{% block body %}
    <main>
        <div class="container col-12 col-md-10 containerAdmin">
            <div class="row containerAdmin">
                {% include('/administration/navAdministration.html.twig') %}
                <div class="col-md-9">
                    <h3 class="my-3">Administration des utilisateurs</h3>

                    <div class="container col-12 pb-3 tableAdmin displayBlock">
                        <table class="col-12">
                            <thead>
                                <tr>
                                    <th class="column1 text-center">Login</th>
                                    <th class="column2 text-center">Email</th>
                                    <th class="column3 text-center">Inscription</th>
                                    <th class="column4 text-center">Mise à jour</th>
                                    <th class="column5 text-center">Statut</th>
                                    <th class="column6 columnEnd text-center">Activer/Désactiver</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td class="column1 text-center">{{ user.username }}</td>
                                        <td class="column2 text-center">{{ user.email }}</td>
                                        <td class="column3 text-center">{{ user.dateCreate | date('d-m-Y') }}</td>
                                        <td class="column4 text-center">{% if user.dateCreate != user.dateUpdate %} {{ user.dateUpdate | date('d-m-Y') }} {% else %} {{ "---" }} {% endif %}</td>
                                        <td class="column5 text-center">{% if user.isActive == 1  %} {{ "Actif" }} {% else %} {{ "Inactif" }} {% endif %}</td>
                                            {% if user.id == 1 %}
                                                <td class="column6 columnEnd font-weight-bold text-center">Administrateur</td>
                                            {% else %}
                                                {% if user.isActive != 1 %}
                                                    <td class="column6 columnEnd text-center"><a class="nav-link font-weight-bold" href="{{ path('activeUser', {'id': user.id }) }}">Activer</a></td>
                                                {% else %}
                                                    <td class="column6 columnEnd text-center"><a class="nav-link font-weight-bold" href="{{ path('desactiveUser', {'id': user.id }) }}">Désactiver</a></td>
                                                {% endif %}
                                            {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% for user in users %}
                        <div class="container col-12 col-md-10 mb-3 displayNone containerAdminMobile">
                            <div class="row justify-content-center">
                                <div class="container col-12 col-md-8 offset-md-2">
                                    <table class="panel">
                                        <tr class="trCompte">
                                            <td class="text-center">Login:</td>
                                            <td class="text-center">{{ user.username }}</td>
                                        </tr>
                                        <tr class="trCompte">
                                            <td class="text-center">Email:</td>
                                            <td class="text-center">{{ user.email }}</td>
                                        </tr>
                                        <tr class="trCompte">
                                            <td class="text-center">Inscription:</td>
                                            <td class="text-center">{{ user.dateCreate | date('d-m-Y') }}</td>
                                        </tr>
                                        <tr class="trCompte">
                                            <td class="text-center">Mise à jour:</td>
                                            <td class="text-center">{% if user.dateCreate != user.dateUpdate %} {{ user.dateUpdate | date('d-m-Y') }} {% else %} {{ "---" }} {% endif %}</td>
                                        </tr>
                                        <tr class="trCompte">
                                            <td class="text-center">Statut:</td>
                                            <td class="text-center">{% if user.isActive == 1  %} {{ "Actif" }} {% else %} {{ "Inactif" }} {% endif %}</td>
                                        </tr>
                                        <tr class="trCompte">
                                            <td class="text-center">Activer/Désactiver:</td>
                                            {% if user.id == 1 %}
                                                <td class="column6 font-weight-bold text-center">Administrateur</td>
                                            {% else %}
                                                {% if user.isActive != 1 %}
                                                    <td class="text-center"><a class="nav-link font-weight-bold" href="{{ path('activeUser', {'id': user.id }) }}">Activer</a></td>
                                                {% else %}
                                                    <td class="text-center"><a class="nav-link font-weight-bold" href="{{ path('desactiveUser', {'id': user.id }) }}">Désactiver</a></td>
                                                {% endif %}
                                            {% endif %}
                                            </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div id="pagingAdminUsers" class="paging border-top">
                        {% include('/paging/paging.html.twig') %}
                    </div>  
                </div>
            </div>
        </div>
    </main>
{% endblock %}
