<div class="col-md-3 containerMenuAdmin displayBlock">            
    <ul class="adminNav">
        <li class="nav-item">
            <a class="nav-link linkMenuAdmin font-weight-bold" href="{{ path('pageAdmin') }}">Administration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link linkMenuAdmin font-weight-bold" href="{{ path('pageAdminUsers') }}">Utilisateurs</a>
        </li>
        <li>
            <a class="nav-link linkMenuAdmin font-weight-bold" href="{{ path('pageAdminTricks') }}">Figures</a>
        </li>
        <li class="nav-item">
            <a class="nav-link linkMenuAdmin font-weight-bold" href="{{ path('pageAdminComments') }}">Commentaires</a>
        </li>
    </ul> 
</div>
<div class="col-md-3 displayNone">
    <div class="flex mt-4 mb-2 menuMobileAdmin">
        <div class="linkMenuAdminMobile">
            <a class="linkMobile font-weight-bold" href="{{ path('pageAdmin') }}">Administration</a>
        </div>
        <div class="linkMenuAdminMobile">
            <a class="linkMobile font-weight-bold" href="{{ path('pageAdminUsers') }}">Utilisateurs</a>
        </div>
    </div>
    <div class="flex mb-4 menuMobileAdmin">
        <div class="linkMenuAdminMobile">
            <a class="linkMobile font-weight-bold" href="{{ path('pageAdminTricks') }}">Figures</a>
        </div>
        <div class="linkMenuAdminMobile">
            <a class="linkMobile font-weight-bold" href="{{ path('pageAdminComments') }}">Commentaires</a>
        </div>
    </div>
</div>
