{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <main>
        <div class="row justify-content-center mt-5">         
            <div class="col-10 col-md-6">
                <h1 class="mb-5 text-center">Créer une nouvelle figure</h1>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {{ form_start(formCreateTrick) }}
                    <div class="form-group">
                        <label for="title" class="labelForm">Nom</label>
                        {{ form_widget(formCreateTrick.titleTrick) }}
                        {{ form_errors(formCreateTrick.titleTrick) }}
                    </div>
                    <div class="form-group">
                        <label for="content" class="labelForm">Description</label>
                        {{ form_widget(formCreateTrick.contentTrick) }}
                        {{ form_errors(formCreateTrick.contentTrick) }}
                    </div>
                    <div class="form-group">
                        <label for="uploadMainImage" class="labelForm">Image principale</label><br />
                        <div class="btnValidate btnUpload">Upload
                            {{ form_widget(formCreateTrick.mainImage) }}
                            {{ form_errors(formCreateTrick.mainImage) }}
                        </div>
                    </div>
                    <p class="font-weight-bold font-italic mb-3">**Attention à bien sélectionner une image au format png ou jpeg</p>
                    <div class="form-group">
                        <label for="uploadImage" class="labelForm">Gallerie d'images (facultatif)</label><br />
                        <div class="btnValidate btnUpload">Upload
                            {{ form_widget(formCreateTrick.images) }}
                            {{ form_errors(formCreateTrick.images) }}
                        </div>
                    </div>
                    <p class="font-weight-bold font-italic mb-3">**Attention à bien sélectionner une image au format png ou jpeg, vous pouvez en sélectionner plusieurs à la fois</p>
                    <div class="form-group">
                        <label for="title" class="labelForm">Vidéo (facultatif)</label>
                            {{ form_widget(formCreateTrick.videos) }}
                            {{ form_errors(formCreateTrick.videos) }}
                    </div>
                    <p class="font-weight-bold font-italic mb-3">**Attention à bien sélectionner une vidéo Youtube ou Dailymotion</p>
                    <label for="category" class="labelForm">Catégorie</label><br />
                        {{ form_widget(formCreateTrick.categories) }}
                        {{ form_errors(formCreateTrick.categories) }}
                    <div class="form-group my-4 text-center">
                        <button type="submit" name="validateTrick" class="btnValidate btnNewFigure mt-4 mb-3">Créer</button>
                    </div>
                {{ form_end(formCreateTrick) }}
            </div>
        </div>
    </main>
{% endblock %}
