{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <main>
        <div class="row justify-content-center mt-5">         
            <div class="col-10 col-md-6">
                <h1 class="mb-5 text-center">Modifier la figure</h1>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {{ form_start(formModifyTrick) }}
                    <div class="form-group">
                        <label for="title" class="labelForm">Modifier le nom</label>
                        {{ form_widget(formModifyTrick.titleTrick) }}
                        {{ form_errors(formModifyTrick.titleTrick) }}
                    </div>

                    <div class="form-group">
                        <label for="content" class="labelForm">Modifier la description</label>
                        {{ form_widget(formModifyTrick.contentTrick) }}
                        {{ form_errors(formModifyTrick.contentTrick) }}
                    </div>
                    <div class="form-group">
                        <label for="uploadMainImage" class="labelForm">Ajouter/Modifier l'image principale</label><br />
                        <div class="btnValidate btnUpload">Upload
                            {{ form_widget(formModifyTrick.mainImage) }}
                            {{ form_errors(formModifyTrick.mainImage) }}
                        </div>
                    </div>
                    <p class="font-weight-bold font-italic mb-3">**Attention à bien sélectionner une image au format png ou jpeg</p>
                    <div class="form-group">
                        <label for="uploadImage" class="labelForm">Ajouter des images</label><br />
                        <div class="btnValidate btnUpload">Upload
                            {{ form_widget(formModifyTrick.images) }}
                            {{ form_errors(formModifyTrick.images) }}
                        </div>
                    </div>
                    <p class="font-weight-bold font-italic mb-3">**Attention à bien sélectionner une image au format png ou jpeg, vous pouvez en sélectionner plusieurs à la fois</p>
                    <div class="form-group">
                        <label for="title" class="labelForm">Ajouter une vidéo</label>
                        {{ form_widget(formModifyTrick.videos) }}
                        {{ form_errors(formModifyTrick.videos) }}
                    </div>
                    <p class="font-weight-bold font-italic mb-3">**Attention à bien sélectionner une vidéo Youtube ou Dailymotion</p>
                    
                    <a class="linkDeleteMedias font-weight-bold" href="{{ path('listDeleteImages', {'id': trickId}) }}">Pour supprimer des images (cliquez ici)</a><br />
                    <a class="linkDeleteMedias font-weight-bold" href="{{ path('listDeleteVideos', {'id': trickId}) }}">Pour supprimer des videos (cliquez ici)</a><br />

                    <label for="category" class="labelForm mt-3">Modifier la catégorie</label><br />
                        {{ form_widget(formModifyTrick.categories) }}
                        {{ form_errors(formModifyTrick.categories) }}
                    <div class="form-group my-4 text-center">
                        <button type="submit" name="createFigure" class="btnValidate btnNewFigure mt-4 mb-3">Modifier</button>
                    </div>
                {{ form_end(formModifyTrick) }}
            </div>
        </div>   
    </main>
{% endblock %}
