{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <main>
        <div class="row justify-content-center mt-5">         
            <div class="col-10 col-md-4">
                <h1 class="mb-5 text-center">Modifiez vos informations</h1>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {{ form_start(formModifyUser) }}
                    <div class="form-group">
                        <label for="newLogin" class="labelForm" >Nouvel identifiant</label>
                        {{ form_widget(formModifyUser.username) }}
                        {{ form_errors(formModifyUser.username) }}
                    </div>  
                    <div class="form-group">
                        <label for="newEmail" class="labelForm">Nouvel email</label>
                        {{ form_widget(formModifyUser.email) }}
                        {{ form_errors(formModifyUser.email) }}
                    </div>
                    <div class="form-group">
                        <label for="newAvatar" class="labelForm">Nouvel avatar</label>
                        <div class="btnValidate btnUpload">Upload
                            {{ form_widget(formModifyUser.avatar) }}
                            {{ form_errors(formModifyUser.avatar) }}
                        </div>
                    </div>
                    <div class="form-group my-5 text-center">
                        <button type="submit" class="btnValidate">Modifier</button>
                    </div>
                    <input type="hidden" id="modifyUserToken" name="modifyUser[_token]" value="{{ csrf_token('modifyUserToken') }}" />
                {{ form_end(formModifyUser) }}
            </div>
        </div>
    </main>
{% endblock %}
